/c64/asm/helloworld/obj/main.o

/c64/asm/helloworld/dist/hello.prg
/c64/basic/helloworld/dist/hello.prg
/c64/asm/cc65/helloworld/obj/main.o
/c64/asm/cc65/helloworld/dist/hello.prg

/c64/basic/petcat/helloworld/dist/hello.prg

/papilio-one/xilinx_eda/Buttons_n_LEDs/_ngo
/papilio-one/xilinx_eda/Addition/xst
/papilio-one/xilinx_eda/Addition/_ngo
/papilio-one/xilinx_eda/Addition/ipcore_dir
/papilio-one/xilinx_eda/Addition/xlnx_auto_0_xdb

/papilio-one/xilinx_eda/Addition/Addition.ptwx
/papilio-one/xilinx_eda/Addition/Addition.stx
/papilio-one/xilinx_eda/Addition/Addition.syr
/papilio-one/xilinx_eda/Addition/Addition.twr
/papilio-one/xilinx_eda/Addition/Addition.twx
/papilio-one/xilinx_eda/Addition/Addition.unroutes
/papilio-one/xilinx_eda/Addition/Addition.ut
/papilio-one/xilinx_eda/Addition/Addition.lso
/papilio-one/xilinx_eda/Addition/Addition.ncd
/papilio-one/xilinx_eda/Addition/Addition.ngc
/papilio-one/xilinx_eda/Addition/Addition.ngd
/papilio-one/xilinx_eda/Addition/Addition.ngr
/papilio-one/xilinx_eda/Addition/Addition.pad
/papilio-one/xilinx_eda/Addition/Addition.par
/papilio-one/xilinx_eda/Addition/Addition.pcf
/papilio-one/xilinx_eda/Addition/Addition.prj
/papilio-one/xilinx_eda/Addition/addition.bgn
/papilio-one/xilinx_eda/Addition/addition.bit
/papilio-one/xilinx_eda/Addition/Addition.bld
/papilio-one/xilinx_eda/Addition/Addition.cmd_log
/papilio-one/xilinx_eda/Addition/addition.drc
/papilio-one/xilinx_eda/Addition/Addition_map.mrp
/papilio-one/xilinx_eda/Addition/Addition_map.ncd
/papilio-one/xilinx_eda/Addition/Addition_map.ngm
/papilio-one/xilinx_eda/Addition/Addition_map.xrpt
/papilio-one/xilinx_eda/Addition/Addition_ngdbuild.xrpt
/papilio-one/xilinx_eda/Addition/Addition_pad.csv
/papilio-one/xilinx_eda/Addition/Addition_pad.txt
/papilio-one/xilinx_eda/Addition/Addition_par.xrpt
/papilio-one/xilinx_eda/Addition/Addition.xpi
/papilio-one/xilinx_eda/Addition/Addition.xst
/papilio-one/xilinx_eda/Addition/Addition_bitgen.xwbt
/papilio-one/xilinx_eda/Addition/Addition_envsettings.html
/papilio-one/xilinx_eda/Addition/Addition_guide.ncd
/papilio-one/xilinx_eda/Addition/Addition_map.map

/papilio-one/xilinx_eda/Addition/Addition_usage.xml
/papilio-one/xilinx_eda/Addition/Addition_vhdl.prj
/papilio-one/xilinx_eda/Addition/Addition_xst.xrpt
/papilio-one/xilinx_eda/Addition/usage_statistics_webtalk.html
/papilio-one/xilinx_eda/Addition/webtalk.log
/papilio-one/xilinx_eda/Addition/webtalk_pn.xml
/papilio-one/xilinx_eda/Addition/Addition_summary.xml
/papilio-one/xilinx_eda/Addition/_xmsgs/bitgen.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/map.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/ngdbuild.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/par.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/trce.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/xst.xmsgs

/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.bld
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.cmd_log
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.lso
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ngc
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ngd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ngr
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.pad
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.par
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.pcf
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.prj
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ptwx
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.stx
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.syr
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.twr
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.twx
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.unroutes
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ut
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.xpi
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.xst
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_bitgen.xwbt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_envsettings.html
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_guide.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.map
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.mrp
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.ngm
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_ngdbuild.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_pad.csv
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_pad.txt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_par.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_summary.xml
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_usage.xml
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_vhdl.prj
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_xst.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_ngo/netlist.lst
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/bitgen.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/map.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/ngdbuild.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/par.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/trce.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/xst.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/buttons_leds_vector.bgn
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/buttons_leds_vector.bit
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/buttons_leds_vector.drc
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/usage_statistics_webtalk.html
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/webtalk.log
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/webtalk_pn.xml
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xlnx_auto_0_xdb/cst.xbcd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/hdllib.ref
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/hdpdeps.ref
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/sub00/vhpl00.vho
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/sub00/vhpl01.vho
