/c64/asm/helloworld/obj/main.o

/c64/asm/helloworld/dist/hello.prg
/c64/basic/helloworld/dist/hello.prg
/c64/asm/cc65/helloworld/obj/main.o
/c64/asm/cc65/helloworld/dist/hello.prg

/c64/basic/petcat/helloworld/dist/hello.prg

/papilio-one/xilinx_eda/Buttons_n_LEDs/_ngo
/papilio-one/xilinx_eda/Addition/xst
/papilio-one/xilinx_eda/Addition/_ngo
/papilio-one/xilinx_eda/Addition/ipcore_dir
/papilio-one/xilinx_eda/Addition/xlnx_auto_0_xdb

/papilio-one/xilinx_eda/Addition/Addition.ptwx
/papilio-one/xilinx_eda/Addition/Addition.stx
/papilio-one/xilinx_eda/Addition/Addition.syr
/papilio-one/xilinx_eda/Addition/Addition.twr
/papilio-one/xilinx_eda/Addition/Addition.twx
/papilio-one/xilinx_eda/Addition/Addition.unroutes
/papilio-one/xilinx_eda/Addition/Addition.ut
/papilio-one/xilinx_eda/Addition/Addition.lso
/papilio-one/xilinx_eda/Addition/Addition.ncd
/papilio-one/xilinx_eda/Addition/Addition.ngc
/papilio-one/xilinx_eda/Addition/Addition.ngd
/papilio-one/xilinx_eda/Addition/Addition.ngr
/papilio-one/xilinx_eda/Addition/Addition.pad
/papilio-one/xilinx_eda/Addition/Addition.par
/papilio-one/xilinx_eda/Addition/Addition.pcf
/papilio-one/xilinx_eda/Addition/Addition.prj
/papilio-one/xilinx_eda/Addition/addition.bgn
/papilio-one/xilinx_eda/Addition/addition.bit
/papilio-one/xilinx_eda/Addition/Addition.bld
/papilio-one/xilinx_eda/Addition/Addition.cmd_log
/papilio-one/xilinx_eda/Addition/addition.drc
/papilio-one/xilinx_eda/Addition/Addition_map.mrp
/papilio-one/xilinx_eda/Addition/Addition_map.ncd
/papilio-one/xilinx_eda/Addition/Addition_map.ngm
/papilio-one/xilinx_eda/Addition/Addition_map.xrpt
/papilio-one/xilinx_eda/Addition/Addition_ngdbuild.xrpt
/papilio-one/xilinx_eda/Addition/Addition_pad.csv
/papilio-one/xilinx_eda/Addition/Addition_pad.txt
/papilio-one/xilinx_eda/Addition/Addition_par.xrpt
/papilio-one/xilinx_eda/Addition/Addition.xpi
/papilio-one/xilinx_eda/Addition/Addition.xst
/papilio-one/xilinx_eda/Addition/Addition_bitgen.xwbt
/papilio-one/xilinx_eda/Addition/Addition_envsettings.html
/papilio-one/xilinx_eda/Addition/Addition_guide.ncd
/papilio-one/xilinx_eda/Addition/Addition_map.map

/papilio-one/xilinx_eda/Addition/Addition_usage.xml
/papilio-one/xilinx_eda/Addition/Addition_vhdl.prj
/papilio-one/xilinx_eda/Addition/Addition_xst.xrpt
/papilio-one/xilinx_eda/Addition/usage_statistics_webtalk.html
/papilio-one/xilinx_eda/Addition/webtalk.log
/papilio-one/xilinx_eda/Addition/webtalk_pn.xml
/papilio-one/xilinx_eda/Addition/Addition_summary.xml
/papilio-one/xilinx_eda/Addition/_xmsgs/bitgen.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/map.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/ngdbuild.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/par.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/trce.xmsgs
/papilio-one/xilinx_eda/Addition/_xmsgs/xst.xmsgs

/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.bld
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.cmd_log
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.lso
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ngc
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ngd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ngr
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.pad
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.par
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.pcf
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.prj
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ptwx
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.stx
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.syr
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.twr
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.twx
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.unroutes
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.ut
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.xpi
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.xst
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_bitgen.xwbt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_envsettings.html
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_guide.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.map
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.mrp
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.ngm
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_map.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_ngdbuild.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_pad.csv
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_pad.txt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_par.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_summary.xml
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_usage.xml
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_vhdl.prj
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_xst.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_ngo/netlist.lst
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/bitgen.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/map.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/ngdbuild.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/par.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/trce.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/xst.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/buttons_leds_vector.bgn
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/buttons_leds_vector.bit
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/buttons_leds_vector.drc
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/usage_statistics_webtalk.html
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/webtalk.log
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/webtalk_pn.xml
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xlnx_auto_0_xdb/cst.xbcd
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/hdllib.ref
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/hdpdeps.ref
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/sub00/vhpl00.vho
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/xst/work/sub00/vhpl01.vho

/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.bld
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.cmd_log
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.lso
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.ngc
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.ngd
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.ngr
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.pad
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.par
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.pcf
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.prj
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.ptwx
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.stx
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.syr
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.twr
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.twx
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.unroutes
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.ut
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.xpi
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.xst
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_bitgen.xwbt
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_envsettings.html
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_guide.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_map.map
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_map.mrp
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_map.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_map.ngm
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_ngdbuild.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_pad.csv
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_pad.txt
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_par.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_summary.xml
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_usage.xml
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_vhdl.prj
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_ngo/netlist.lst
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_xmsgs/bitgen.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_xmsgs/map.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_xmsgs/ngdbuild.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_xmsgs/par.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_xmsgs/trce.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_xmsgs/xst.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/addition.bgn
/papilio-one/xilinx_eda/logicstart-megawing/Addition/addition.bit
/papilio-one/xilinx_eda/logicstart-megawing/Addition/addition.drc
/papilio-one/xilinx_eda/logicstart-megawing/Addition/usage_statistics_webtalk.html
/papilio-one/xilinx_eda/logicstart-megawing/Addition/webtalk.log
/papilio-one/xilinx_eda/logicstart-megawing/Addition/webtalk_pn.xml
/papilio-one/xilinx_eda/logicstart-megawing/Addition/xlnx_auto_0_xdb/cst.xbcd
/papilio-one/xilinx_eda/logicstart-megawing/Addition/xst/work/hdllib.ref
/papilio-one/xilinx_eda/logicstart-megawing/Addition/xst/work/hdpdeps.ref
/papilio-one/xilinx_eda/logicstart-megawing/Addition/xst/work/sub00/vhpl00.vho
/papilio-one/xilinx_eda/logicstart-megawing/Addition/xst/work/sub00/vhpl01.vho

/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_beh.prj
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_isim_beh.exe
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_isim_beh.wdb
/papilio-one/xilinx_eda/logicstart-megawing/Addition/fuse.log
/papilio-one/xilinx_eda/logicstart-megawing/Addition/fuse.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/fuseRelaunch.cmd
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim.cmd
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim.log
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/Addition_isim_beh.exe
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/ISimEngine-DesignHierarchy.dbg
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/isimcrash.log
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/isimkernel.log
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/netId.dat
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/tmp_save/_1
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/work/Addition_isim_beh.exe_main.c
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/work/Addition_isim_beh.exe_main.nt.obj
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/work/a_1546549061_3212880686.c
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/work/a_1546549061_3212880686.didat
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/Addition_isim_beh.exe.sim/work/a_1546549061_3212880686.nt.obj
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/isim_usage_statistics.html
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/pn_info
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/precompiled.exe.sim/ieee/p_1242562249.c
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/precompiled.exe.sim/ieee/p_1242562249.didat
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/precompiled.exe.sim/ieee/p_1242562249.nt.obj
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/precompiled.exe.sim/ieee/p_2592010699.c
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/precompiled.exe.sim/ieee/p_2592010699.didat
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/precompiled.exe.sim/ieee/p_2592010699.nt.obj
/papilio-one/xilinx_eda/logicstart-megawing/Addition/isim/work/addition.vdb
/papilio-one/xilinx_eda/logicstart-megawing/Addition/xilinxsim.ini

/papilio-one/xilinx_eda/logicstart-megawing/Counter2/iseconfig/Addition.projectmgr
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/iseconfig/Addition.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/iseconfig/Counter1.projectmgr
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/iseconfig/Counter1.xreport

/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/iseconfig/Counter1.projectmgr
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/iseconfig/Counter1.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.bld
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.cmd_log
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.lso
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.ngc
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.ngd
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.ngr
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.pad
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.par
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.pcf
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.prj
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.stx
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.syr
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.twr
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.twx
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.unroutes
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.ut
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.xpi
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.xst
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_envsettings.html
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_map.map
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_map.mrp
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_map.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_map.ngm
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_ngdbuild.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_pad.csv
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_pad.txt
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_par.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_summary.xml
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_usage.xml
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_vhdl.prj
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_xst.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_ngo/netlist.lst
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_xmsgs/bitgen.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_xmsgs/map.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_xmsgs/ngdbuild.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_xmsgs/par.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_xmsgs/trce.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_xmsgs/xst.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/counter2.bgn
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/counter2.bit
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/counter2.drc
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/iseconfig/Counter2.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/usage_statistics_webtalk.html
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/webtalk.log
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/webtalk_pn.xml
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/xlnx_auto_0_xdb/cst.xbcd
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/xst/work/hdllib.ref
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/xst/work/hdpdeps.ref
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/xst/work/sub00/vhpl00.vho
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/xst/work/sub00/vhpl01.vho
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.gise
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_summary.html
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/iseconfig/Buttons_LEDs_Vector.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.gise
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_summary.html
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/iseconfig/Buttons_LEDs_Vector.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.gise
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_summary.html
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/iseconfig/Buttons_LEDs_Vector.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Buttons_LEDs_Vector/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition.gise
/papilio-one/xilinx_eda/logicstart-megawing/Addition/Addition_summary.html
/papilio-one/xilinx_eda/logicstart-megawing/Addition/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Addition/iseconfig/Addition.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.gise
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_guide.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_summary.html
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/iseconfig/Addition.projectmgr
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/iseconfig/Addition.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.gise
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_bitgen.xwbt
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_guide.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_summary.html
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/iseconfig/Addition.projectmgr
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/iseconfig/Addition.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.gise
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_bitgen.xwbt
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_guide.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_summary.html
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/arcade-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector.gise
/papilio-one/xilinx_eda/arcade-megawing/Buttons_LEDs_Vector/Buttons_LEDs_Vector_summary.html
/papilio-one/xilinx_eda/arcade-megawing/Buttons_LEDs_Vector/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/arcade-megawing/Buttons_LEDs_Vector/iseconfig/Buttons_LEDs_Vector.xreport
/papilio-one/xilinx_eda/arcade-megawing/Buttons_n_LEDs/Buttons_LEDs_summary.html
/papilio-one/xilinx_eda/arcade-megawing/Buttons_n_LEDs/Buttons_n_LEDs.gise
/papilio-one/xilinx_eda/arcade-megawing/Buttons_n_LEDs/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/arcade-megawing/Buttons_n_LEDs/iseconfig/Buttons_LEDs.xreport
/papilio-one/xilinx_eda/arcade-megawing/Addition/Addition.gise
/papilio-one/xilinx_eda/arcade-megawing/Addition/Addition_summary.html
/papilio-one/xilinx_eda/arcade-megawing/Addition/_xmsgs/pn_parser.xmsgs
/papilio-one/xilinx_eda/arcade-megawing/Addition/iseconfig/Addition.xreport
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.bld
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.cmd_log
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.lso
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.ngc
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.ngd
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.ngr
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.pad
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.par
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.pcf
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.prj
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.stx
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.syr
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.twr
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.twx
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.unroutes
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.ut
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.xpi
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1.xst
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_envsettings.html
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_map.map
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_map.mrp
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_map.ncd
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_map.ngm
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_map.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_ngdbuild.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_pad.csv
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_pad.txt
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_par.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_summary.xml
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_usage.xml
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_vhdl.prj
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/Counter1_xst.xrpt
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_ngo/netlist.lst
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_xmsgs/bitgen.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_xmsgs/map.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_xmsgs/ngdbuild.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_xmsgs/par.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_xmsgs/trce.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/_xmsgs/xst.xmsgs
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/counter1.bgn
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/counter1.bit
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/counter1.drc
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/usage_statistics_webtalk.html
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/webtalk.log
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/webtalk_pn.xml
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/xlnx_auto_0_xdb/cst.xbcd
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/xst/work/hdllib.ref
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/xst/work/hdpdeps.ref
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/xst/work/sub00/vhpl00.vho
/papilio-one/xilinx_eda/logicstart-megawing/Counter1/xst/work/sub00/vhpl01.vho
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2.ptwx
/papilio-one/xilinx_eda/logicstart-megawing/Counter2/Counter2_map.xrpt
