# Arcade MegaWing
# for PIN outlets see: http://papilio.cc/index.php?n=Playground.PapilioPinouts
#  or: http://forum.gadgetfactory.net/index.php?/files/file/6-arcade-megawing-papilio-propapilio-one/

# Pins of the DPAD
NET DPAD_LEFT  LOC = "P58" | IOSTANDARD=LVTTL;
NET DPAD_UP    LOC = "P54" | IOSTANDARD=LVTTL;
NET DPAD_RIGHT LOC = "P36" | IOSTANDARD=LVTTL;
NET DPAD_DOWN  LOC = "P41" | IOSTANDARD=LVTTL;

# Pins of the LEDs
NET LED_1 LOC = "P57" | IOSTANDARD=LVTTL;
NET LED_2 LOC = "P53" | IOSTANDARD=LVTTL;
NET LED_3 LOC = "P40" | IOSTANDARD=LVTTL;
NET LED_4 LOC = "P35" | IOSTANDARD=LVTTL;