# LogicStart MegaWing
# for PIN outlets see: http://papilio.cc/index.php?n=Playground.PapilioPinouts
#  or: 

# Pins of the Switches
NET Switch(7) LOC = "P91" | IOSTANDARD=LVTTL;
NET Switch(6) LOC = "P92" | IOSTANDARD=LVTTL;
NET Switch(5) LOC = "P94" | IOSTANDARD=LVTTL;
NET Switch(4) LOC = "P95" | IOSTANDARD=LVTTL;
NET Switch(3) LOC = "P98" | IOSTANDARD=LVTTL;
NET Switch(2) LOC = "P2" | IOSTANDARD=LVTTL;
NET Switch(1) LOC = "P3" | IOSTANDARD=LVTTL;
NET Switch(0) LOC = "P4" | IOSTANDARD=LVTTL;

# Pins of the LEDs
NET LED(7) LOC = "P5" | IOSTANDARD=LVTTL;
NET LED(6) LOC = "P9" | IOSTANDARD=LVTTL;
NET LED(5) LOC = "P10" | IOSTANDARD=LVTTL;
NET LED(4) LOC = "P11" | IOSTANDARD=LVTTL;
NET LED(3) LOC = "P12" | IOSTANDARD=LVTTL;
NET LED(2) LOC = "P15" | IOSTANDARD=LVTTL;
NET LED(1) LOC = "P16" | IOSTANDARD=LVTTL;
NET LED(0) LOC = "P17" | IOSTANDARD=LVTTL;